.Title {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-size: 50px;
}

.Description {
  text-align: center;
}

.Screen-shot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.Section-header {
  text-align: center;
  font-style: italic;
}

.Download-buttons-row {
  text-align: center;
}

.SoundCloud-player-row {
  margin: 3px;
  text-align: center;
  position: relative;
}

.Soundcloud-player {
  width: 25%;
  height: 25%;
  border: none;
  display: inline;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.Ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.Center-text {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
