.Download-icon {
  background: #f0f0f0;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  display: inline-block;
}

.Download-icon:hover {
  background: #bababa;
}

.Download-icon-image {
  width: 40%;
  height: 40%;
  position: relative;
  margin: 25%;
  }

.Holder {
  width: 25%;
  height: 25%;
  max-width: 300px;
  position: relative;
  display: inline-block;
}
